<footer class="footer clearfix">
	<h3 class="no_txt">页脚信息</h3>
	<div class="main">
		<div class="mid clearfix">
			<ul class="ft_nav clearfix">
				<li><a href="https://www.qian360.com/about/index.html" title="关于我们">关于我们</a></li>
				<li><a href="https://www.qian360.com/article/iWannaInvest.html" title="帮助中心">帮助中心</a></li>
				<li><a href="https://www.qian360.com/about/contact.html" title="联系我们">联系我们</a></li>
				<li><a href="https://www.qian360.com/article/laws.html" title="法律声明">法律声明</a></li>
				<li><a href="http://bbs.qian360.com/" title="交流论坛">交流论坛</a></li>
				<li><a href="http://bbs.qian360.com/forums/show/15/0/9.page" title="合作加盟">合作加盟</a></li>
			</ul>
			<div class="record">
				© 2014 - 2017杭州乾庄互联网金融服务有限公司 浙ICP备14007276号-1
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000352979'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000352979%26l%3D3' type='text/javascript'%3E%3C/script%3E"));</script>
				<span><a target="_blank" href="/image/u_center/i_banner/licence.jpg">增值电信业务经营许可证</a></span>
			</div>
			<div class="security">
				<ul class="trust clearfix">
					<li><a class="aqjc" href="http://webscan.360.cn/index/checkwebsite/url/www.qian360.com" title="360网站安全检测" target="_blank"></a></li>
					<li><a class="cxwz" href="https://search.szfw.org/cert/l/CX20150403007325007882" title="诚信网站" target="_blank"></a></li>
					<li><a class="norton" href="javascript:;" title="Norton" onClick="javascript:window.open('https://trustsealinfo.verisign.com/splash?form_file=fdf%2Fsplash.fdf&sap=&dn=www.qian360.com&zoneoff=&lang=zh_CN','learnabout','resizable,scrollbars,height=425,width=545')"></a></li>
					<li><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602005811" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;background: none"><img src="/accountBorrow/image/icon/security.png" style="float:left;display:block"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;color: #b5b5b5;">浙公网安备 33010602005811号</p></a></li>
				</ul>
			</div>
			<div class="contact">
				<div class="logo"><div class="warning">市场有风险，投资需谨慎</div></div>
				<div class="ser_time">客服电话：<span>400-0455-360</span>（9:00 -18:00）</div>
				<div class="ser_timeone">理财交流群：<a href="http://shang.qq.com/wpa/qunwpa?idkey=6fe8e486c130e9c5638b5aae986cf3063500d4217f711bb305ea6bb88271eed5">236613404</a></div>
				<ul class="follow clearfix">
					<li><a class="ico_wb" href="http://weibo.com/234182119/home?wvr=5" target="_blank" title="关注钱庄网微博"></a></li>
					<li><a class="ico_wx" href="javascript:;" title="扫一扫关注微信"><figure><em></em></figure></a></li>
				</ul>
				<div class="erect"></div>
			</div>
		</div>
	</div>
</footer>