@charset "UTF-8";
.page-min-height {
  min-height: 500px; }

/*个人形象墙*/
.i-banner {
  height: 126px;
  color: #fff;
  background: repeat-x center center; }

.i-banner .mid {
  position: relative; }

.i-banner-portrait {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  margin-top: 21px; }

.i-banner-portrait img {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #cfcfcf; }

.i-banner-main {
  margin: 13px 0 0 120px; }

.i-banner-main .i-banner-greetings .i-banner-hello {
  margin-bottom: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  float: left; }

.i-banner-main .i-banner-greetings .i-banner-hello span {
  float: left; }

.i-banner-main .i-banner-greetings .i-banner-hello a {
  padding: 0 5px;
  color: #fff;
  font-size: 14px;
  float: left;
  margin-right: 30px; }

.i-banner-main .i-banner-greetings .i-banner-digest {
  float: right; }

.i-banner-stat {
  margin-top: 33px;
  position: absolute;
  bottom: -17px;
  left: 106px; }

.i-banner-stat li {
  position: relative;
  display: inline-block;
  float: left;
  width: 60px;
  text-align: center; }

.i-banner-stat li a {
  display: inline-block;
  color: #fff; }

.i-banner-stat li figure {
  display: inline-block;
  width: 39px;
  height: 39px;
  border-radius: 50%; }

.i-banner-stat li figure.rz {
  background-position: -10px -12px; }

.i-banner-stat li figure.rz.not {
  background-position: -204px -76px; }

.i-banner-stat li figure.grzl {
  background-position: -140px -12px; }

.i-banner-stat li figure.jymm {
  background-position: -269px -139px; }

.i-banner-stat li figure.jymm.not {
  background-position: -320px -139px; }

.noon {
  background: url("../image/u_center/i_banner/noon.jpg") no-repeat 0 0; }

.member-portrait {
  position: relative; }

.member-portrait .member-level {
  position: absolute;
  z-index: 2;
  right: -2px;
  bottom: -4px;
  width: 23px;
  height: 23px; }

.member-portrait:hover .member-title {
  display: block; }

.member-portrait .member-title {
  display: none;
  position: absolute;
  z-index: 1;
  right: -66px;
  bottom: -2px;
  width: 73px;
  height: 20px;
  background-color: #6f6b77;
  padding-left: 7px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  border-radius: 10px; }

.i-bd {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #f6f6f6; }

.i-bd .mid {
  position: relative; }

.i-bd .tab-con {
  margin-top: 30px; }

.i-bd .m_t_50 {
  margin-top: 30px !important; }

.i-bd .m_t_50 .row span {
  color: #545454;
  font-size: 14px; }

.i-bd .m_t_50 .i-btn-primary {
  width: 130px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background: #f35c3e;
  color: #fff;
  border-radius: 30px;
  padding: 0 0 0 0; }

.i-bd .auto_invest_notice {
  background: #f5f5f5; }

/*侧栏*/
.i-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 163px; }

.i-sidebar ul {
  border: 1px solid #d8d8d8;
  background-color: #fff; }

.i-sidebar ul + ul {
  margin-top: 8px; }

.i-sidebar li {
  position: relative;
  height: 50px;
  color: #010101;
  font-size: 14px;
  line-height: 50px;
  background: #f0f0f0; }

.i-sidebar li:hover {
  background-color: #fff;
  border-left: 3px solid #f35c3e; }

.i-sidebar li + li {
  border-top: 1px solid #d8d8d8; }

.i-sidebar li a {
  display: block;
  overflow: hidden;
  text-align: center;
  color: #545454; }

.i-sidebar li.on {
  background-color: #fff;
  border-left: 3px solid #f35c3e; }

.i-sidebar li.on a {
  color: #f35c3e; }

.i-sidebar li figure.overview {
  background-position: 0 -64px; }

.i-sidebar li.on figure.overview {
  background-position: 0 -96px; }

.i-sidebar li figure.card {
  background-position: -32px -64px; }

.i-sidebar li.on figure.card {
  background-position: -32px -96px; }

.i-sidebar li figure.redpacket {
  background-position: -64px -64px; }

.i-sidebar li.on figure.redpacket {
  background-position: -64px -96px; }

.i-sidebar li figure.reward {
  background-position: -96px -64px; }

.i-sidebar li.on figure.reward {
  background-position: -96px -96px; }

.i-sidebar li figure.invite {
  background-position: -128px -64px; }

.i-sidebar li.on figure.invite {
  background-position: -128px -96px; }

.i-sidebar li figure.fund {
  background-position: -224px 0; }

.i-sidebar li.on figure.fund {
  background-position: -224px -32px; }

.i-sidebar li figure.activity {
  background-position: -160px -64px; }

.i-sidebar li.on figure.activity {
  background-position: -160px -96px; }

.i-sidebar li figure.invest {
  background-position: -288px -192px; }

.i-sidebar li.on figure.invest {
  background-position: -288px -224px; }

.i-sidebar li figure.query {
  background-position: -256px -192px; }

.i-sidebar li.on figure.query {
  background-position: -256px -224px; }

.i-sidebar .banner-con {
  margin-top: 30px; }

.i-sidebar .banner-con img {
  width: 100%; }

.i-main-con {
  width: 810px;
  min-height: 500px;
  margin-left: 174px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #d8d8d8;
  background-color: #fff; }

/*# sourceMappingURL=account.css.map */
